body{
background:black;
color:white;
font-family:Arial;
text-align:center;
}

.container{
width:900px;
margin:auto;
padding-top:40px;
}

h1{
font-size:40px;
margin-bottom:5px;
}

.author{
color:#ccc;
margin-bottom:25px;
}

.checkbox-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-bottom:20px;
}

.dropdown-row{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

select{
padding:5px;
}

.input-row{
display:flex;
justify-content:center;
gap:15px;
margin-bottom:20px;
}

input{
padding:8px;
width:150px;
}

button{
padding:10px 40px;
background:#dcdcdc;
border:none;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#bbb;
}

#result{
margin-top:20px;
font-size:20px;
}